[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
install = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[dev-packages]
