{% extends 'base.html'%}

{% block content %}

<div class="container mt-4">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'expensesapp' %}">Expenses</a></li>
            <li class="breadcrumb-item active">Edit Expense</li>
        </ol>
    </nav>


    <form action="{% url 'edit-expenses' expense.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/_messages.html' %}
        <fieldset>
            <div class="form-group">
                <label for="" class="form-label mt-4">Amount</label>
                <input type="number" name="amount" value="{{values.amount}}" class="form-control" placeholder="Enter amount">
            </div>
            <div class="form-group">
                <label for="" class="form-label mt-4">Description</label>
                <input type="text" name="description" value="{{values.description}}"  class="form-control" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="" class="form-label mt-4">Category</label>
                <select class="form-select" name="category">
                    <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                    {% for category in categories %}
                    <option name="category" value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="" class="form-label mt-4">Date of Expense</label>
                <input type="date" value="{{values.date |date:'Y-m-d' }}" class="form-control" name="expense_date">
            </div>
            <input type="submit" value="Update" class="btn btn-primary mt-5">
        </fieldset>
    </form>

</div>

{% endblock %}


